{% extends "base.html" %}
{% block title %}URL Detail{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">TinyURL for: {{ url.long_url }}</h5>
      <p class="card-text">Short URL: <a href="{% url 'urls_redirect' url.short_url %}">{{ url.short_url }}</a></p>
      <p class="card-text">Clicked: {{total_visits}} times!</p>
    </div>
    <div class="card-footer text-muted">
      <form class="form-inline" method="POST">
        {% csrf_token %}{{ form.as_p }}
          <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
  {% endif %}
  {% if user.is_authenticated == False %}
  <h3>You Shall not Pass! Please <a href="{% url 'user_login' %}">login</a> or <a href="{% url 'register' %}">register</a></h3>
{% endif %}
{% endblock %}