{% extends "base.html" %}
{% block title %}URL Detail{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">TinyURL for: {{ url.long_url }}</h5>
      <p class="card-text">Short URL: <a href="{% url 'urls_redirect' url.short_url %}">{{ url.short_url }}</a></p>
      <p class="card-text">Clicked: {{total_visits}} times!</p>
    </div>
    <div class="card-footer text-muted">
      <form class="form-inline" method="POST">
        {% csrf_token %}{{ form.as_p }}
          <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>

  <br/>
    <div class="text-center"><h2>Visitor data</h2></div>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col" class="text-center">Visitor ID</th>
                <th scope="col" class="text-center">Time Visited</th> 
            </tr>
          </thead>
          {% for v in visitors %}
          <tr>
            <td class="text-center">{{ v.visitor_id }}</td>
            <td class="text-center">{{ v.time_visited }}</td>
          </tr>
          {% endfor %}
        </table>
  {% else %}
  <h3>You Shall not Pass! Please <a href="{% url 'user_login' %}">login</a> or <a href="{% url 'register' %}">register</a></h3>
{% endif %}
{% endblock %}
